{% extends 'Worker/layout.html' %}
{% block title %}Your Skills | Digital Workers{% endblock title %}
{% block skills %}active{% endblock skills %}
{% load static %}

{% block body %}

    <!-- Dashboard Tab -->
<div class="box py-4 bg-light text-center d-none d-block " >
    <h5>Your SKills</h5>
    <hr style="width: 10%; border: 1px solid gray;">
    <form action="skills" method="post"> 
        {% csrf_token %}
     <ul class="ks-cboxtags">
        {% for service in services %}
       
        <li><input type="checkbox" {% if service.name in worker.skills %}checked {% endif %}  class="chkbox" id="{{service.name}}" value="{{service.name}}"> 
        <label for="{{service.name}}" class="text-center"> <br> <img  src="../media/{{service.image}}" width="50" alt="" srcset=""> <br> {{service.name}}</label></li>
        {% endfor %}
    </ul> 
    <input type="hidden" name="skills" id="chkbox_values">
    <button type="submit" name="submit" class=" btn-yellow border btn-lg">Update Skills</button></form>
</div>




{% endblock body %}

