.nav-link > .active{
    color: #EEC120 ;
}

.user-img{
    border:3px solid #EEC120; border-radius:50%;
    width:120px; height:120px;padding:10px; 
    background:white;
}
#pills-tab >.nav-item > .nav-link{
    color: white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #EEC120 !important;
}

.contact-col{
   border-right: 1px solid lightgrey;
}
.contact-box{
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
}
.message-box{
    border: 1px solid lightgrey;
   border-radius: 10px;    
}
.contact-box:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;   
}
.send-box{
    position: absolute;
    bottom: 0;
    
}
.primary-box{
    color: #525356; border-radius: 10px;
    border: 1px solid #007bff;
    border-bottom: 3px solid #007bff !important;
}
.info-box{
    color: #525356; border-radius: 10px;
    border: 1px solid #17a2b8;
    border-bottom: 3px solid #17a2b8 !important;
}
.warning-box{
    color: #525356; border-radius: 10px;
    border: 1px solid #ffc107;
    border-bottom: 3px solid #ffc107 !important;
}
.success-box{
    color: #525356; border-radius: 10px;
    border: 1px solid #28a745;
    border-bottom: 3px solid #28a745 !important;
}
.w-22{
    width: 22%;
}