{% extends 'Buyer/layout.html' %}
{% block title %}Change Password | Digital Workers{% endblock title %}
{% block change_pass %}active{% endblock change_pass %}
{% load static %}

{% block body %}

    <!-- Dashboard Tab -->
<div class="box m-1 bg-light p-3">
    <h4 class="text-center">Change Your Password</h4>
    <hr class="text-center"style="width: 30%; border:1px solid gray">
   <form action="change-password" method="post">
   {% csrf_token %}
       <div class="row ml-3">
           <div class="col-md-6">
            <label for="">Your Old Password:</label>
            <input type="password" name="old_pass" required  placeholder="Enter Your Old Password" class="form-control"> <br>
            <label for="">New Password:</label>
            <input type="password" name="new_pass" pattern=".{8,}"  title="Password must contain at least 8 characters" required placeholder="New Password" class="form-control"> <br>
            <label for="">Confirm Pass :</label>
            <input type="password" name="confirm_pass"  required placeholder="Confirm New Password" class="form-control">
           </div>
          <div class='col-md-12 mt-3'>
            <input type="submit" name="submit" value="Change Password" class="text-center btn-gray"id="">
          </div>
       </div> <br>
   </form>
</div>


{% endblock body %}

