{% extends 'Buyer/layout.html' %}
{% block title %}Buyer Dashboard | Digital Workers{% endblock title %}
{% block dashboard %}active{% endblock dashboard %}
{% load static %}

{% block body %}

    <!-- Dashboard Tab -->
<div class="box m-1 bg-light text-center d-none d-block " style="height:30rem">
    <i class="fas fa-book-open text-center p-4" style="background-color:#EEC120; color:white;font-size:4rem; margin-top:20%; border-radius:100%"></i>
    <h5 class="mt-3">Are you looking for a work to be done?</h5> <br>
    <a href="/post-work" class=" btn-gray">POST WORK</a>
</div>


{% endblock body %}

