{% extends 'layout.html' %}
{% block title %}Find Work | Digital Workers{% endblock title %}
{% block find_work %}active{% endblock find_work %}

{% load static %}
{% block body %}
<!-- Body Start -->
<style>
    .work-box:hover{border:1px solid gray;cursor:pointer;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important}
</style>
<body class="bg-light">
  <div class="container ">
    <!-- Skills Slider Section -->
    <section class="works">
      <h3 class="text-gray  my-4">Find Work </h3>
      <!-- Custom Search Bar -->
        <form action="search" method="get">
        <div class="input-group mb-3 search-bg">
            <div class="input-group-append">
                <select name="location" required  class="text-yellow px-3 search-select" >
                    <option value="">Choose Location</option>
                    <option value="Sahiwal" {% if request.GET.location == "Sahiwal" %}selected{% endif %}>Sahiwal</option>
                    <option value="Lahore" {% if request.GET.location == "Lahore" %}selected{% endif %}>Lahore</option>
                    <option value="Multan" {% if request.GET.location == "Multan" %}selected{% endif %}>Multan</option>
                </select>
            
            </div>
            <div class="input-group-append">
                <select name="budget" value="{{request.GET.budget}}" required class="text-yellow px-3 search-select" >
                    <option value="">Budget Range</option>
                    <option value="1-500" {% if request.GET.budget == "1-500" %}selected{% endif %}>Rs 1-500</option>
                    <option value="500-1000"{% if request.GET.budget == "500-1000" %}selected{% endif %}>Rs 500-1000</option>
                    <option value="1000-2000" {% if request.GET.budget == "1000-2000" %}selected{% endif %}>Rs 1000-2000</option>
                    <option value="2000-4000" {% if request.GET.budget == "2000-4000" %}selected{% endif %}>Rs 2000-4000</option>
                    <option value="4000">Rs 4000+</option>
                </select>
            </div>
            <input type="text"name="query" value="{{request.GET.query}}"class="form-control search-input py-4" required placeholder=" Search Work title or keyword here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn-yellow px-5 search-btn" type="submit">Search <i class="fas fa-search"></i></button></form>
            </div>
        </div>

    
    </section><br> <br>
 
</div>
    <!-- Works List Section-->
        <div class="row mx-5">
            <div class="col-md-9">
                <div class="row"> 
                    {% for work in works %} 
                    <div class="col-lg-4 col-xl-3 col-md-6 p-2 ">
                        <div class="work-box p-3  bg-white rounded border" id="work-box" onclick="detailbox('{{work.id}}')" >
                        <img src="../media/{{work.service.image}}" class="bg-{{work.service.name}} p-2 rounded mx-auto d-block" width="70" alt="work_icon" srcset=""> 
                        <h5 class="mt-4">{{work.title}}</h5>
                        <div class="inner-box text-small mt-3">
                            <p ><i class="fas fa-map-marker-alt text-gray"></i> {{work.location}}</p>
                            <p><i class="fas fa-money-bill-wave text-gray"></i> Rs. {{work.budget}}</p> 
                            <p><i class="fas fa-clock text-gray"></i> {{work.deadline.date}}</p> <hr class="p-0 m-1">
                            <small class="text-gray">{{work.offer_count}} offers</small>
                        </div>
                        </div>
                    </div>{% endfor %}
                </div>
                 <!-- Pagination -->
                {% if works.has_other_pages %}
                <nav aria-label="Page navigation example">
                <ul class="pagination pagination-template d-flex justify-content-center">
                {% if works.has_previous %}
                    <li class="page-item"><a href="?page={{ works.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="" class="page-link"> <i class="fa fa-angle-left"></i></a></li> {% endif %}
                    {% for i in works.paginator.page_range %}
                    {% if works.number == i %}
                    <li class="page-item"><a href="#" class="page-link active">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if works.has_next %}
                    <li class="page-item"><a href="?page={{ works.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                    {% else %}
                    <li class="disabled page-item"><a href="" class="page-link"><i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul>
                </nav>
                {% endif %}

            </div>
            <div class=" col-md-3 detail-box bg-white rounded shadow p-0" id="detailbox">
                <div class="bg-color bg-{{works.0.service.name}} rounded" style="height:80px"></div>
                    <img src="../media/{{works.0.service.image}}" class="bg-{{works.0.service.name}} p-2 rounded mx-auto d-block" style="border: 2px solid white; margin-top:-40px" width="70" alt="work_icon" srcset="">
                    <h5 class="mt-4 pl-3" >{{works.0.title}}</h5>
                    <p class="text-success px-3">
                    <span class="float-left">{{works.0.posted_at|timesince}} ago </span><span class="float-right">{{works.0.status}}</span> </p>
                    <div class="inner-box text-small mt-3 p-3  "><br> 
                        <small>{{work.0.description}}</small> <br> <br>
                        <p><i class="fas fa-user-alt text-white bg-gray rounded-30 p-2"></i> {{works.0.posted_by.name}}</p>
                        <p ><i class="fas fa-map-marker-alt text-white bg-gray rounded-30 p-2"></i> {{works.0.location}}</p>
                        <p><i class="fas fa-money-bill-wave text-white bg-gray rounded-30 p-2"></i> Rs. {{works.0.budget}}</p> 
                        <p><i class="fas fa-clock text-white bg-gray rounded-30 p-2"></i> {{works.0.deadline.date}}</p>
                    </div>
                        <button class="btn-yellow mx-3" onclick="chkapply('{{works.0.id}}','{{works.0.title}}','{{works.0.description}}','{{works.0.budget}}','{{works.0.deadline.date}}','{{works.0.location}}')" id='apply-btn'>Apply for Work</button>
                        <p class="text-danger text-center text-bold" id="loginerror"></p>
                  
            </div>
        </div>
        <br><br>
<!--Apply work Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyModalLabel">Apply for Work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="row box bg-light border p-2">
                <div class="col-md-8">
                    <h6 id="title">Title goes herer asa</h6>
                    <small id="description">Description Goes here ahwe wuajska  ajsj asjasj asask jaks aks kasja  NOKas jjkjk</small> <br>
                </div>
                <div class="col-md-4">
                    <span id="budget" class="text-success text-bold">Rs. 1500 </span><br><span id="deadline" class="text-danger">Due :12-129-102 </span>
                    <small id="location"> Lalazar colony  Sahiwal, Pkaitsan </small>
                </div>
            </div> 
            <form action="find-work" method="post">
                {% csrf_token %}
                <label for="">Offer Price</label>
                <input type="hidden" name="work" id="workid">
                <input type="number" name="price" class="form-control" placeholder="E.g, 1200" id="">
                <label for="">Describe Your Service</label>
                <textarea name="description" id="" cols="30" rows="3" class="form-control" placeholder="Describe what you offer"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning">Send Offer</button></form>
      </div>
    </div>
  </div>
</div>
<!-- Js Code Below -->
 <script>
    function chkapply(id,title,description,budget,deadline,location){
        {% if user.is_authenticated %}
            $('#applyModal').modal('show'); 
            $('#title').text(title); $('#description').text(description);
            $('#budget').text(budget); $('#deadline').text(deadline);
            $('#location').text(location);
            $('#workid').val(id);

        {% else %}
            $('#loginerror').html("You  need to <a href='login'>login</a> first!")
        {% endif %}
    }
     function detailbox(id){
      {% for work in works %}
      if("{{work.id}}"==id){
        var html='<div class="bg-color bg-{{work.service.name}} rounded" style="height:80px"></div>'
                +'<img src="../media/{{work.service.image}}" class="bg-{{work.service.name}} p-2 rounded mx-auto d-block" style="border: 2px solid white; margin-top:-40px" width="70" alt="work_icon" srcset=""> '
                +'<h5 class="mt-4 pl-3" >{{work.title}}</h5>'
                +'<p class="text-success px-3">'
                 +'<span class="float-left">{{work.posted_at|timesince}} ago</span><span class="float-right">{{work.status}}</span> </p>'
                +'<div class="inner-box text-small mt-3 p-3  "><br> '
                   +' <small>{{work.description}}</small> <br> <br>'
                     +'<p><i class="fas fa-user-alt text-white bg-gray rounded-30 p-2"></i> {{work.posted_by.name}}</p>'
                    +'<p ><i class="fas fa-map-marker-alt text-white bg-gray rounded-30 p-2"></i> {{work.location}}</p>'
                    +'<p><i class="fas fa-money-bill-wave text-white bg-gray rounded-30 p-2"></i> Rs. {{work.budget}}</p> '
                    +'<p><i class="fas fa-clock text-white bg-gray rounded-30 p-2"></i> {{work.deadline.date}}</p>'
                +'</div>'
                +'{% if work.id in work_offers %} <h6 class="text-danger text-center">Already Applied!</h6>'
                +'{% else %}'
                +'<button class="btn-yellow mx-3" onclick="chkapply(`{{work.id}}`,`{{work.title}}`,`{{work.description}}`,`{{work.budget}}`,`{{work.deadline.date}}`,`{{work.location}}`)" id="apply-btn">Apply for Work</button><p class="text-danger text-center text-bold" id="loginerror"></p>{% endif %}';
                $("#detailbox").html(html);
                
      }
      {% endfor %}

     }
     
 detailbox(2);
 </script>


{% endblock body %}
