{% extends 'layout.html' %}
{% block title %}Digital Workers | Best Physical Services with an Ease{% endblock title %}
{% load static %}
{% block body %}
<!-- Body Start -->

  <section class="banner py-5" style="background-color: #DEDEDE">
      <div class="row ">
          <div class="col-md-5 offset-md-1 text-center p-5">
              <h1 class="text-gray my-5">HIRE OR BE AN EXPERIENCED DIGITAL WORKER</h1>
              <button type="button" class=" btn-gray ">POST WORK</button>
              <button type="button" class=" btn-yellow ">FIND WORK</button>
          </div>
          <div class="col-md-6 m-auto">
              <img src="{% static 'images/banner.png' %}" class="w-75" alt="" srcset="">
          </div>
      </div>
  </section> 
  <div class="container">
    <!-- Skills Slider Section -->
    <section class="slider ">
      <h3 class="text-gray text-bold my-5">What Services are you looking for?</h3>
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="serv-circle text-center ">
              <img src="{% static 'images/icons/ac.png' %}"class="w-50 py-2 mx-auto" alt=""><p> AC Services</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/cleaner.png' %}"class="w-50 py-2 mx-auto" alt=""><p>Cleaner</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/plumber.png' %}"class="w-50 py-2 mx-auto" alt=""><p>  Plumber</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/electrician.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Electrician</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/event planner.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Event Planner</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/photographer.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Photographer</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/delivery.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Pickup/ Delivery</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/carpenter.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Car Penter</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/painter.png' %}"class="w-50 py-2 mx-auto" alt=""><p>  Painter</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/car washer.png' %}"class="w-50 py-2 mx-auto" alt=""><p>  Car Washer</p>
          </div>
        </div>
        <div class="item">
          <div class="serv-circle text-center ">
            <img src="{% static 'images/icons/other.png' %}"class="w-50 py-2 mx-auto" alt=""><p> Other</p>
          </div>
        </div>
      </div>
    </section><br> <br>
    <section class="steps">
      <h3 class="text-gray text-bold my-5">Easy to Go Process</h3> <br>
        <div class="row">
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step1.png' %}" class="w-50 " alt="">
              <h5>Step 1: Post Your Work</h5>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step2.png' %}" class="w-50 pb-4" alt="">
              <h5>Step 2: Review Offers</h5>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step3.png' %}" class="w-50 mx-auto p-3 mb-2 " alt="">
              <h5>Step 3: Hire the Right Digital Worker</h5>
            </div>
        </div>
    </section> <br>
  </div>
  <section class="who_are_we text-center bg-light p-3">
    <div class="container p-5">
      <h3 class="text-gray text-bold my-5">Who are we?</h3> 
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
      </div>
  </div>
  </section>
  <section class="who_are_we text-center  p-3">
      <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
              <h3 class="text-gray text-bold my-5">How to Register as Worker?</h3> 
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="text-gray text-bold my-5">How to Find and Apply for Work?</h3> 
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
              </div>
            </div>
        </div>
        
    </div>
  </section>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Change Language</button>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Your Langugae</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body translate-modal" >
          <div class="row d-flex ">
              <div class="col1 w-50 text-white mt-5 p-3">
                <h6>Select Your Language from Dropdown</h6>
                <div id="google_translate_element"></div>
                <!-- <select name="" class="form-control" id="">
                  <option value="">English</option>
                  <option value="">Urdu</option>
                </select> -->
              </div>
              <div class="col1 w-50 translate-bg">

              </div>
          </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
