{% extends 'layout.html' %}

{% block title %}Digital Workers | Best Physical Services with an Ease{% endblock title %}
{% block home %}active{% endblock home %}

{% load static %}
{% block body %}
<!-- Body Start -->

  <section class="banner py-5" style="background-color: #DEDEDE">
      <div class="row ">
          <div class="col-md-5 offset-md-1 text-center p-5">
              <h1 class="text-gray my-5">HIRE OR BE AN EXPERIENCED DIGITAL WORKER</h1>
              <a href="{% url 'post_work' %}" type="button" class=" btn-gray ">POST WORK</a>
              <a href="{% url 'find_work' %}" type="button" class=" btn-yellow ">FIND WORK</a>
          </div>
          <div class="col-md-6 m-auto">
              <img src="{% static 'images/banner.png' %}" class="w-75" alt="" srcset="">
          </div>
      </div>
  </section> 
  <div class="container">
    <!-- Skills Slider Section -->
    <section class="slider ">
      <h3 class="text-gray text-bold my-5">What Services are you looking for? Rome was not built in a day</h3>
      <div class="owl-carousel owl-theme">
        {% for service in services %}
        <div class="item">
          <div class="serv-circle text-center ">
              <img src="../media/{{service.image}}"class="w-50 py-2 mx-auto" alt=""><p> {{service.name}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section><br> <br>
    <section class="steps">
      <h3 class="text-gray text-bold my-5">Easy to Go Process</h3> <br>
        <div class="row">
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step1.png' %}" class="w-50 " alt="">
              <h5>Step 1: Post Your Work</h5>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step2.png' %}" class="w-50 pb-4" alt="">
              <h5>Step 2: Review Offers</h5>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'images/step3.png' %}" class="w-50 mx-auto p-3 mb-2 " alt="">
              <h5>Step 3: Hire the Right Digital Worker</h5>
            </div>
        </div>
    </section> <br>
  </div>
  <section class="who_are_we text-center bg-light p-3">
    <div class="container p-5">
      <h3 class="text-gray text-bold my-5">Who are we?</h3> 
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
      </div>
  </div>
  </section>
  <section class="who_are_we text-center  p-3">
      <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
              <h3 class="text-gray text-bold my-5">How to Register as Worker?</h3> 
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="text-gray text-bold my-5">How to Find and Apply for Work?</h3> 
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen></iframe>
              </div>
            </div>
        </div>
        
    </div>
  </section>


 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock body %}
