{% extends 'layout.html' %}
{% block title %}Post a Work | Digital Workers{% endblock title %}
{% block post_work %}active{% endblock post_work %}

{% load static %}
{% block body %}
<!-- Body Start -->

<body class="bg-light">
  <div class="container ">
    <!-- Skills Slider Section -->
    <section class="works">
         <!-- /.MultiStep Form -->
    <div class="row mt-5  bg-white rounded-30 shadow justify-content-center align-items-center">
      <div class="col-md-12 p-5">
        <form id='profile-form' method="POST" action="post-work">
        {% csrf_token %}
          <h3 class="text-gray text-center">Post a Work OR <a href="{% url 'find_worker' %}"> Find Worker </a></h3>
          <hr class="w-25" style="border:1px solid gray" >
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="mt-3 text-bold text-gray">Work Title:</label>
                    <input type="text" name="title" class="form-control" placeholder="E.g, Wash my car" required> 
                    <label for="" class="mt-3 text-bold  text-gray">Select Service Type:</label>
                    <Select name="service" class="form-control">
                        <option value="">Select Service</option>
                    {% for service in services %}
                        <option value="{{service.id}}">{{service.name}}</option>
                    {% endfor %}
                        <option value="">Cleaner</option>
                    </Select>
                    <label for="" class="mt-3 text-bold  text-gray">Work Description:</label>
                    <textarea name="description" id="" cols="30" rows="4" class="form-control" placeholder="E.g, CLean my car and wash from outside and inside. I'll provide the Materials "></textarea>
                   
                </div>
                <div class="col-md-6">
                    <label for="" class="mt-3 text-bold text-gray">Work Location:</label>
                    <input type="text" list="location" name="location" class="form-control" id="query" required onkeypress="showlocation(this.value)"  placeholder="E.g, Street#1 Fareed town Sahiwal">
                    <datalist id="location"></datalist>
                    <label for="" class="mt-3 text-bold text-gray">Due Date:</label>
                    <input type="date" name="deadline" class="form-control"  min="{% now "Y-m-d" %}" required>
                    <label for="" class="mt-3 text-bold text-gray">Budget:</label> Commision (5%) 
                    <input type="number" name="budget1" min="200" onchange="GetTotal(this.value)" class="form-control" placeholder="Rs. 1500" required>
                    <label for="" class="mt-3 text-bold text-gray">Budget After Commision:</label>
                    <input type="number"  name="budget" id="commision"  readonly class="form-control" placeholder="Rs. 1650" required> <br>
                    <input type="submit" class=" btn-yellow px-5" name="" value="Post Work" id="">

                </div>
            </div>
          
         
        </form>
      </div>
    </div>
    
    </section><br> <br>
 
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
<script>
// Autocomplete location
function showlocation(position) {
    $.ajax({
        url: "https://api.locationiq.com/v1/autocomplete.php?key=pk.5a287c69e1dcdfab64abda7838b36bef&q="+position,
        type: 'GET',
        success: function(response) {
            console.log(response);
            console.log(response[1].display_name);
            list='<option value="Default"> ';
            response.forEach(function(res) {
               list +='<option value="'+ res.display_name+'"> ';
            })
                $("#location").html(list);
        }
    });
}
   
function GetTotal(val){
    var commision=val*5/100;
    var tval=parseInt(val) +parseInt(commision) ;
    console.log(tval);
    document.getElementById("commision").value=tval;
}
</script>


{% endblock body %}
