{% extends 'layout2.html' %}
{% block title %}Register | Digital Workers{% endblock title %}
{% block register %}active{% endblock register %}

{% load static %}
{% block body %}
    <!-- Register Form -->
    <div class="container my-5 bg-white shadow rounded-30">
        <div class="row">
            <div class="col-md-5 p-5 text-center">
                <img src=" {% static 'images/signup-image.png' %}" class="w-100" alt="" srcset=""> <br> <br>
                {% comment %} <button class="btn btn-outline-primary"><img src="{% static 'images/facebook.png' %}" width="20" alt=""><i class="fas fa-facebook-f"></i> Register with Facebok</button> <br> <br>
                <button class="btn btn-outline-danger"><img src="{% static 'images/google.png' %}" width="20" alt=""><i class="fas fa-facebook-f"></i> Register with Google</button> {% endcomment %}
            </div>
            <div class="col-md-7 text-center p-3">
                <h2 class="text-gray">Register in the Digital World</h2>
                <p>Already have an Account? <a href="login" class="text-yellow text-bold"> Login</a></p>
                <form action="register" method="post" id="reg_form">
                {% csrf_token %}
                <div class="form-input">
                    <i class="fas fa-user mt-2"></i>
                    <input type="text" name="name" class="input-txt" placeholder="Your Full Name" required>
                </div>
                <div class="form-input">
                    <i class="fas fa-envelope mt-2"></i>
                    <input type="email" name="email" class="input-txt" placeholder="Your Email" required>
                </div>
                <div class="form-input " id="show_hide_password">
                    <i class="fas fa-unlock mt-2"></i> <i class="fas fa-eye reveal mt-3"></i>
                     <input type="password" name="password" class="input-txt pwd" placeholder="Password" required>
                </div>
                <div class="form-input " id="show_hide_password">
                    <i class="fas fa-unlock mt-2"></i> <i class="fas fa-eye reveal mt-3"></i>
                     <input type="password" name="confirm_pass" class="input-txt pwd" placeholder="Confirm Password" required>
                </div>
                <div class="form-input text-left mb-0" >
                    <h6> Register As:</h6>
                    <div class="options text-center pt-3">
                    <label class="text-center px-5">
                        <input type="radio" class="radio_role" name="role" value="worker" checked>
                        <p> <img src=" {% static 'images/worker.jpg' %}" width="80"><br> Worker</p>
                    </label>
                    <label class="text-center px-5">
                        <input type="radio" class="radio_role" name="role" value="buyer" >
                        <p><img src="{% static 'images/client.jpg' %}" width="80"><br> Buyer</p>
                    </label>
                </div>
                </div>
          
                <div class="form-input mt-0">
                     <input type="submit" name="submit" class="btn btn-warning w-100 text-bold" value="Register Now">
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}