{% extends 'layout2.html' %}
{% block title %}Reset Password | Digital Workers{% endblock title %}
{% block login %}active{% endblock login %}
{% load static %}
{% block body %}
    <!-- Register Form -->
    <div class="container my-5 bg-white shadow rounded-30">
        <div class="row">
            <div class="col-md-7 text-center p-3">
                <h2 class="text-gray mt-5">Reset Your Password</h2>
                <p>Already have an Account? <a href="login" class="text-yellow text-bold"> login</a></p>
                <form action="{% url 'reset_password' %}" method="post" class="mt-5" id="reg_form">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ request.GET.email }}"> 
                <input type="hidden" name="old_pass" value="{{ request.GET.pass }}"> 
                <div class="form-input " id="show_hide_password">
                    <i class="fas fa-unlock mt-2"></i> <i class="fas fa-eye reveal mt-3"></i>
                     <input type="password" name="pass" class="input-txt pwd" placeholder="New Password" required>
                </div>
                <div class="form-input " id="show_hide_password">
                  <i class="fas fa-unlock mt-2"></i> <i class="fas fa-eye reveal mt-3"></i>
                   <input type="password" name="confirm_pass" class="input-txt pwd" placeholder="Confirm Password" required>
              </div>
                <div class="form-input mt-0">
                     <input type="submit" name="submit" class="btn btn-warning w-100 text-bold" value="Reset Now">
                </div>
                </form><br>
            </div>
            <div class="col-md-5 p-5 text-center">
                <img src="{% static 'images/signin-image.png' %}" class="w-75" alt="" srcset=""> <br> <br>
                {% comment %} <button class="btn btn-outline-primary"><img src="{% static 'images/facebook.png' %}" width="20" alt=""><i class="fas fa-facebook-f"></i> Login with Facebok</button> <br> <br>
                <button class="btn btn-outline-danger"><img src="{% static 'images/google.png' %}" width="20" alt=""><i class="fas fa-facebook-f"></i> Login with Google</button> {% endcomment %}
            </div>
        </div>
    </div>

    
  
  <!-- Modal -->
  <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <h6> Forgot our Password? Don't worry enter your email and get reset link on your email address. Thanks </h6> <br>
         <form method="POST" action="{% url 'forgot_password' %}">
            {% csrf_token %}
         <input type="email" name="email" placeholder="Enter your Email Id" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Forgot Password</button> </form>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}